@page
@model CarSpairParts.Pages.Car.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SpairPartsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SpairPartsModel.Id" />
            <div class="form-group">
                <label asp-for="SpairPartsModel.name" class="control-label"></label>
                <input asp-for="SpairPartsModel.name" class="form-control" />
                <span asp-validation-for="SpairPartsModel.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpairPartsModel.engin" class="control-label"></label>
                <input asp-for="SpairPartsModel.engin" class="form-control" />
                <span asp-validation-for="SpairPartsModel.engin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpairPartsModel.mirror" class="control-label"></label>
                <input asp-for="SpairPartsModel.mirror" class="form-control" />
                <span asp-validation-for="SpairPartsModel.mirror" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpairPartsModel.cost" class="control-label"></label>
                <input asp-for="SpairPartsModel.cost" class="form-control" />
                <span asp-validation-for="SpairPartsModel.cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpairPartsModel.color" class="control-label"></label>
                <input asp-for="SpairPartsModel.color" class="form-control" />
                <span asp-validation-for="SpairPartsModel.color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
